.portfolio {
    padding: 2rem 1.5rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(91, 90, 120, 0.5);
}

.logo {
    font-family: 'Orbitron', monospace;
    color: #00ffb3;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0.1em;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: #5b5a78;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.hero {
    padding: 4rem 0;
    border-bottom: 1px solid rgba(91, 90, 120, 0.5);
}

.hero-tag {
    font-family: 'Orbitron', monospace;
    color: #00ffb3;
    /*color: rgb(0, 254, 186);*/
    letter-spacing: 0.1em;
}

.hero span {
    color: #00ffb3;
}

.hero-btns {
    display: flex;
    gap: 1rem;
}

.hero-btns button {
    font-family: 'Orbitron', monospace;
    font-size: 15px;
    padding: 0.5rem;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.status-bar {
    display: flex;
    gap: 5rem;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(91, 90, 120, 0.5);
}

.status-label {
    font-family: 'Orbitron', monospace;
    color: #5b5a78;
}

.status-value {
    font-family: 'Orbitron', monospace;
    color: #00ffb3;
    font-weight: bold;
    font-size: 1rem;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: black;
}

p {
    font-family: 'Orbitron', monospace;
    color: #5b5a78;
}

h1 {
    font-family: 'Orbitron', monospace;
    font-weight: 900;
    color: white;
}